body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #f59e4d, #ebf8e1);
    color:black;
}

header {
    text-align: center;
    padding: 0px;
    margin: 0;
    background: rgba(117, 48, 48, 0.5);
    color: white;
    background-position: center;
}

header h1 {
    font-size: 3em;
    margin-bottom: 10px;
}

header p {
    font-size: 1.2em;
    font-weight: 100;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid white;
    margin: 20px auto;
    object-fit: cover;
}
.ftale{
    justify-content: center;
    text-align: center;
}

nav {
    text-align: center;
    background-color:#f59e4d,;
    padding: 10px 0;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}
nav ul li {
    margin: 1rem;
}
nav ul li a {
    text-decoration: none;
    padding: 0.5rem 1rem;
    display: block;
    transition: background 0.3s,transform 0.3s;
}

nav ul li a:hover {
    color: #c06d74;
    border-radius: 5px;
    transform: scale(1.1);
}

section {
    padding: 40px 20px;
    max-width: 1200px;
    margin: auto;
}

section h2 {
    text-align: center;
    color:#8b3713 ;
}

.projects {
    display: flex;
    justify-content: space-between;   
    flex-wrap: wrap;
    margin-top: 20px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: rgb(90, 0, 28);
    color: white;
}
        
footer p {
    margin: 0;
}
